@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Kodchasan|Maiden+Orange');

html, body , #root, .App, .grid{
  height: 100%;
}
.app {
  font-family: 'PT Sans';
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
/*
Open Sans Condensed
Raleway
Stylish
Kodchasan
*/
.grid {
  display: grid;
  max-width: 600px;
  grid-template-columns: auto;
  grid-template-rows: 28% auto 15%;
    grid-gap: 0;
  padding: 0 20px;
  background-color: #f3f3f3;
}
    .App:after/*copyrights*/ 
    {
      content: '@ShiraC';
      position: absolute;
      left: 0;
      top: 50%;
      background: #fff;
      border: 1px dashed #fc5a3a;
      border-width: 1px 1px 0 1px;
      color: #0072ff;
      padding: 5px;
      font-size: calc(10px + 0.5vw);
      transform: rotate(90deg);
    }

   

  .bottom-menu .menu-item{
  background: #ffe16be7;
  border: 1px dashed #f3f3f3;
  
}

  .wrapper{
    margin:0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
    background: #ffffff;
  }
  .content{
    padding: 20px;
    font-size: calc(14px + 0.5vw);
  }
.footer {
  height:fit-content;
    position: relative;
    padding:0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; 
    color: #333333;
}

  p {
    padding: 0; margin: 0;
  }


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: calc(24px + 0.5vw);
  height: calc(24px + 0.5vw);
  stroke: #fc5a3a;
  padding: 0;
    padding-top: 5px;
    margin: 0;
    display: inline-block;
}
.svg-wrapper:hover{

}

/* ****************************
*********************************/
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fc5a3a;
}

/* .svg-icon circle {
  stroke: #4691f6;
  border:1px solid #fff;
  stroke-width: 1;
} */

.visible{display:block !important;}